extends layout

block content
	include ./sidebars/sidebar
	.span9.offset3
		.page-header
			h1 About Gear Trials
				small Program description, goals, and objectives
		!{content.about_gear_trials}
		.page-header
			a(name="how-program-works")
			h1 How the Program Works
		!{content.how_program_works}
		.page-header
			a(name="gear-types")
			h1 Gear Types
		!{content.gear_types}
		.page-header
			a(name="voucher-information")
			h1 Voucher Information
		!{content.voucher_information}
		.page-header
			a(name="suppliers")
			h1 Gear Suppliers
		!{content.gear_suppliers}
		.page-header
			a(name="dates")
			h1 Critical Dates
		!{content.critical_dates}





