extends layout

block content
	.row.tabbable.tabs-left.admin-area
		ul.nav.nav-tabs.admin-tabs.fixed
			li.active
				a(href='#user_management', data-toggle="tab") User Management
			li
				a(href='#vouchers', data-toggle="tab") Vouchers
			li
				a(href='#applications', data-toggle="tab") Applications
		.tab-content.admin-main
			#user_management.tab-pane.active
				.page-header
					h1 Add User
				form#add_user.form-horizontal
					.control-group
						label.control-label(for="name") Name:
						.controls
							input#name.input-xlarge(type='text')
							p.help-block Full name of user
					.control-group
						label.control-label(for="email") Email Address:
						.controls
							input#email.input-xlarge(type='text')
							p.help-block This email address will be used by the user to login, as well as for any communications.
					.control-group
						label.control-label(for="admin") Admin:
						.controls
							label.checkbox
								input#admin(type='checkbox')
								span Checking this will give the new user Admin permissions.
					.control-group
						.controls
							a#add_user_button.btn.btn-large.btn-primary Add User
				.page-header
					h1 Edit Users
				table.table.table-striped.users-list
					thead
						tr
							th Name
							th Email
							th Admin
							th Actions
					tbody
					each user in users
						tr
							td.user-name= user.name
							td.user-email= user.email
							- if (user.admin)
								td.user-admin
									input(type='checkbox', checked, disabled)
							- else
								td
							td.user-actions
								button.btn.edit-user-button(data-id= "#{user._id}") Edit
								button.btn.btn-danger.remove-user-button(data-id= "#{user._id}") Remove
			#vouchers.tab-pane
				.page-header
					h1 Issue New Voucher
				form#issue_voucher.form-horizontal
					fieldset
						legend Voucher Information
						.control-group
							label.control-label(for="voucher_type") Type:
							.controls
								select#voucher_type
									option(value="bp", selected) Belly Panel
									option(value="dc_s") Drop Chain (Small)
									option(value="dc_l") Drop Chain (Large)
						.control-group
							label.control-label(for="voucher_amount") Amount ($):
							.controls
								input#voucher_amount(type='text', disabled, value="350")
					fieldset
						legend Contact Information
						.control-group
							label.control-label(for="voucher_name") Name:
							.controls
								input#voucher_name.input-xlarge(type='text')
						.control-group
							label.control-label(for="voucher_vessel") Vessel:
							.controls
								input#voucher_vessel.input-xlarge(type='text')
						.control-group
							label.control-label(for="voucher_permit") Permit # or State Landing License #:
							.controls
								input#voucher_permit.input-xlarge(type='text')
						.control-group
							label.control-label(for="voucher_email") Email:
							.controls
								input#voucher_email.input-xlarge(type='text')
						.control-group
							label.control-label(for="voucher_phone") Phone #:
							.controls
								input#voucher_phone.input-xlarge(type='text')
					.control-group
						.controls
							a#issue_voucher_button.btn.btn-large.btn-primary Issue Voucher
			#applications.tab-pane
				.page-header
					h1 Applications
				ul.nav.nav-tabs
					li.active
						a(href='#open', data-toggle="tab") Open
					li
						a(href='#accepted', data-toggle="tab") Accepted
					li
						a(href='#denied', data-toggle="tab") Denied
				.tab-content
					#open.tab-pane.active
						table.table.table-striped
							thead
								tr
									th Date Submitted
									th Name
									th Vessel
									th Permit #
									th Email
									th Phone
							tbody
							each app in open_applications
								tr
									td= app.date_submitted.toDateString()
									td= app.name
									td= app.vessel
									td= app.permit
									td= app.email
									td= app.phone
					#accepted.tab-pane
						p Accepted
					#denied.tab-pane
						p Denied
	#add_user_modal.modal.hide
		.modal-header
			h3 Confirm New User
		.modal-body
			p Please confirm the following information is correct. After confirmed, the new user will receive an email with login instructions and their temporary password.
			dl.dl-horizontal
				dt Name:
				dd#add_user_name
				dt Email:
				dd#add_user_email
				dt Admin:
				dd#add_user_admin
		.modal-footer
			a.btn(href='#', data-dismiss="modal") Cancel
			a#add_user_confirm.btn.btn-primary(href='#') Confirm
	#remove_user_modal.modal.hide
		.modal-header
			h3 Confirm Deletion
		.modal-body
			p Are you sure you would like to delete: 
				span#remove_user_name
		.modal-footer
			a.btn(href='#', data-dismiss="modal") Cancel
			a#remove_user_confirm.btn.btn-primary(href='#') Confirm
	#issue_voucher_modal.modal.hide
		.modal-header
			h3 Confirm Voucher Information
		.modal-body
			p Please confirm the following information is correct. After confirmation, a PDF of this voucher will be emailed to the email address provided.
			dl.dl-horizontal
				dt Type:
				dd#issue_voucher_type
				dt Amount ($):
				dd#issue_voucher_amount
				dt Name:
				dd#issue_voucher_name
				dt Vessel:
				dd#issue_voucher_vessel
				dt Permit #:
				dd#issue_voucher_permit
				dt Email:
				dd#issue_voucher_email
				dt Phone
				dd#issue_voucher_phone
		.modal-footer
			a.btn(href='#', data-dismiss="modal") Cancel
			a#issue_voucher_confirm.btn.btn-primary(href='#') Confirm


