extends ../../layout

block content
	include ../../sidebars/admin_sidebar
	input#page(type='hidden', value='#{page}')
	.span10.offset2
		.page-header
			h1 Edit About Program Page
		h2 About the program
		textarea#about_gear_trials.tinymce 
			!{content.about_gear_trials}
		button.save-content.btn.btn-primary Save
		h2 How the Program Works
		textarea#how_program_works.tinymce 
			!{content.how_program_works}
		button.save-content.btn.btn-primary Save
		h2 Gear Types
		textarea#gear_types.tinymce 
			!{content.gear_types}
		button.save-content.btn.btn-primary Save
		h2 Voucher Information
		textarea#voucher_information.tinymce 
			!{content.voucher_information}
		button.save-content.btn.btn-primary Save
		h2 Gear Suppliers
		textarea#gear_suppliers.tinymce 
			!{content.gear_suppliers}
		button.save-content.btn.btn-primary Save
		h2 Critical Dates
		textarea#critical_dates.tinymce 
			!{content.critical_dates}
		button.save-content.btn.btn-primary Save
